@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313; */
}

.containerio {
  position: relative;
  margin-top: 50px;
  /* display: flex; */
}

.containerio .card {
  position: relative;
  width: 400px;
  height: 600px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 50px;
  /* display: flex; */
}

.containerio .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.containerio .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.containerio .card:after {
  content: "";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05);
}

.containerio .card .imgBx {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);

  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.containerio .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.containerio .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -27%) rotate(0deg);
  width: 270px;
  border-radius: 20px;
}

.containerio .card .contentBx {
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  /* z-index: 10; */
}

.containerio .card:hover .contentBx {
  height: 210px;
}

.containerio .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
  /* margin-bottom: -10px; */
}

.containerio .card .contentBx .size,
.containerio .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;
  margin-right: 600px;
}

.containerio .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.containerio .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.containerio .card .contentBx .size h3,
.containerio .card .contentBx .color h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 150px;
}
/* 
color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 125px; */

.containerio .card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.containerio .card .contentBx .size span:hover {
  background: #9bdc28;
}

.containerio .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.containerio .card .contentBx .color span:nth-child(2) {
  background: #9bdc28;
}

.containerio .card .contentBx .color span:nth-child(3) {
  background: #03a9f4;
}

.containerio .card .contentBx .color span:nth-child(4) {
  background: #e91e63;
}

.containerio .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.containerio .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

.Butt {
  /* margin-top: 50px; */
}

html,
body {
  /* background-color: #000; */
  /* width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.arrow {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  /*   border:solid 1px white; */
  transition: 0.5s;
  overflow: hidden;
  rotate: 90deg;
}

.arrow:hover {
  /*  animation:borderAni 5s cubic-bezier(0, 0.6, 1, 0.4); */
  border: solid 2px + white;
  border-radius: 50%;
}
.arrow:after {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 20px;
  height: 15px;
  /*   border:solid 1px;  */
  top: -1px;
  border-bottom: solid 2px;
  transform: translatex(4px);
}

.arrow:before {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 8px;
  height: 8px;
  /*   border:solid 1px;  */
  border-top: solid 2px;
  border-left: solid 2px;
  top: 42%;
  left: 2px;
  transform-origin: 0% 0%;
  transform: rotatez(-45deg);
}
.arrow:hover:before {
  animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after {
  animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

@keyframes aniArrow01 {
  0% {
    transform: rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}

@keyframes aniArrow02 {
  0% {
    transform: translateX(45px);
  }
  100% {
    transform: translateX(-44px);
  }
}

@keyframes borderAni {
  0% {
    border: solid 2px white;
  }
  100% {
    border: solid 2px white;
    border-radius: 50%;
  }
}
